# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kawha\OneDrive\Área de Trabalho\atividade_algEstrutura II\atividade 3 bellman-ford\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
